.slogan { display: inline-block;}
.slogan-p {
 font-size: 13px;
 border-right: 5px solid white;
 width: 100%;
 white-space: nowrap;
 overflow: hidden;
 animation: 
    typing 4s steps(38),
    cursor .4s step-end infinite alternate;
 
}
@keyframes cursor {
  50% { border-color: transparent}
}
@keyframes typing {
    from { width: 0%}
}
.slogan-p::after {
    content: "";
    border-right: 5px solid white; /* Change the color to red or your desired color */
    animation: cursor .4s step-end infinite alternate;
}
